<!DOCTYPE html>
<html>
<head>
    <title>Account Created</title>
</head>
<body>
    <h1>New User Created</h1>
    <form method="post" action="/register">
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Register</button>
    </form>
</body>
</html>